@model HomePageModel

<div class="container">
    <div class="row p-5">
        <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
                <h1 class="h1 text-success"><b>Texpo</b></h1>
                <h3 class="h2">An amazing platform to find and support your favourite tech inovations. Scan Your ticket and rate your favourite project.</h>
            </div>
        </div>
    </div>
</div>

@if (Model.LikedExhibit is not null)
{
    <h1>You liked</h1>
    <div class="row">
        <div class="row p-5">
            <partial name="_ExhibitCard" model="@Model.LikedExhibit" />
        </div>
    </div>
}

<h1>Innovation around you</h1>
<div class="container py-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var exhibit in Model.Exhibits)
                    {
                        <partial name="_ExhibitCard" model="exhibit" />
                    }
                </div>
            </div>
        </div>

</div>