@model Exhibit

<div style="width: 400px">
    <img src="@Model.PhotoUrl1" width="400" class="mw-100"/>
    <div class="d-flex justify-content-between">
        <p>@Model.ExhibitName</p>
    </div>
</div>