@model Rating

<p>Would you like to leave a message?</p>
<form method="post" asp-controller="Ratings" asp-action="UpdateRatingMessage" asp-route-ratingId="@Model.RatingId">
    <label asp-for="@Model.Message" class="form-label"></label> <br />
    <textarea asp-for="@Model.Message" class="form-control"></textarea> <br />
    <button type="submit" class="btn btn-primary mt-3">Continue</button>
</form>